<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>歩行分析</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="../styles/template.css">
</head>

<!-- 基本的に以下を編集してください。 -->
<!-- 文章はpタグの中、画像やリスト、リンクなどはコピーして適宜使用してください -->
<!-- レイアウトが崩れる(おそらく画像に関しては元の大きさによってだいぶ崩れたりすると思います)、こういうふうにしたいんだけどどうやるの?などあれば毛利に相談してください -->
<body>
    <header class="page-header">
        <h2 class="logo"><a href="../index.html">TeamD Web</a></h2>
        <nav class="bg-nav">
            <ul class="main-nav" id="js-main-nav">
                <li><a href="../index.html">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <article>
            <h1>歩行映像の周波数解析を用いた自動監視技術に関する研究</h1>
            <h2>研究の概要</h2>
            <p>
              歩行分析の分野では、歩行映像から連続した歩行シルエット画像列を抽出し、平均化した画像をGEI(Gait Energy Image)という。GEIを用いるような外見重視の歩行分析は、服装や持ち物の変化によって見た目の変化が生じると、認識精度が低下する。そこで、各歩行シルエットで重心の座標を計算し、歩行シルエット画像列から人物の歩行時の重心の位置の変化を時系列データとして収集する。そして、この時系列データを周波数解析して抽出した特徴量をもとに人物認識を行うことで、服装や持ち物の変化に堅牢な歩行認識の実現を目指す。
            </p>
            <h2>研究・技術の現状</h2>
            <p>
                <!-- 箇条書き使用例 -->
                <li>外見重視の歩行分析は、服装や持ち物の変化による見た目の変化により認識精度が低下する</li>
                <li>先行研究にて、被験者二人の場合に重心の位置の変化による歩行認識が高い精度を示した</li>
                <li>複数人を対象に行った実験では、まだまだ精度が低く、アルゴリズムの見直しが必要</li>
            </p>
            <h2>今後の展望・その研究にどんな夢があるのか</h2>
            <p>
                服装や持ち物の変化に堅牢な歩行認識の応用例として以下が挙げられる。
                <li>高齢者施設における見守りカメラでの自動監視</li>
                <li>防犯カメラでの犯人の追跡</li>
                日常生活において、私たちの衣服は頻繁に変化する。また、犯人の追跡では変装への有効な対策となるため、歩行認識において衣服変化に対する堅牢度は重要な要素である。
            </p>
        </article>
    </main>
    <footer>
        <div>
            <p>TeamD Web</p>
            <p>&copy; 2022, TeamD</p>
        </div>
    </footer>
</body>
</html>