<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>研究紹介ページ(植田)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="../styles/template.css">
</head>

<!-- 基本的に以下を編集してください。 -->
<!-- 文章はpタグの中、画像やリスト、リンクなどはコピーして適宜使用してください -->
<!-- レイアウトが崩れる(おそらく画像に関しては元の大きさによってだいぶ崩れたりすると思います)、こういうふうにしたいんだけどどうやるの?などあれば毛利に相談してください -->
<body>
    <header class="page-header">
        <h2 class="logo"><a href="../index.html">TeamD Web</a></h2>
        <nav class="bg-nav">
            <ul class="main-nav" id="js-main-nav">
                <li><a href="../index.html">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <article>
            <h1>エンドクラウド環境におけるプロアクティブな計算性能把握に基づくコンピューティングノード選択法</h1>
            <h2>研究の概要(abstract)</h2>
            <p>
              近年，人々の近隣にあるノードの計算機資源を利用するボランティアコンピューティングのような技術が注目されています．人々の近傍に存在する
              計算能力を有する多数のエンド端末を“End Cloud”として利用する場合，その中から相互に通信する適切なコンピューティングノード群を選択する際の
              主な問題点として，コンピューティングノード間の物理的距離が長くなること，空き計算機資源量を把握するためのメッセージ量が多くなることが挙げられる．
              本研究では，これらの問題を考慮し，End Cloud から適切なコンピューティングノード群を選択するアルゴリズムを提案する．この方式により，自身の計算機資源が
              不足しているユーザが計算負荷の高いタスクの処理結果を得ることができる．基本的なシミュレーション評価により，本提案方式の有効性を検証している．
            <h3>ボランティアコンピューティングとは</h3> <!--要らなければ消してください-->
            <p>
                ボランティアコンピューティングとは，人々の近傍に存在する計算能力を有する多数のエンド端末を
                サーバに登録することで，処理が一つのサーバでできないようなタスクを，エンド端末の計算機資源を利用することで処理する技術である．
            </p>
            <h2>研究・技術の現状</h2>
            <p>
              本研究における問題点を解決するための関連手法を以下に示している．
                <!-- 箇条書き使用例 -->
                <li>動的クラスタリング</li>
                <li>メッセージ合成</li>
              しかし，これらにはそれぞれ問題点があるため，それらを解決した提案方式が必要となっている．
            </p>
            <h2>今後の展望・その研究にどんな夢があるのか</h2>
            <p>
              この研究を進めていくことで得られるメリットは，現在のデータセンタ，エッジコンピューティングプラットフォーム(Edge Cloud)，End Cloud
              の3つが連携しているネットワークを構築することができることで，コロナウイルスなどのパンデミックに即座に対応できるシステムが構築できる点である．


              本研究は先日次のリンク先の国際学会で発表したものである．
                <!-- リンク使用例 -->
                <a href="https://ccnc2023.ieee-ccnc.org/">IEEE CCNC</a>: 本研究をポスター発表した国際学会
            </p>
            <!-- 画像使用例 -->
            <div style="text-align: center">
            <img class="" src="../images/kennkyuu.png" alt="研究", width="400">
            </div>

        </article>
    </main>
    <footer>
        <div>
            <p>TeamD Web</p>
            <p>&copy; 2022, TeamD</p>
        </div>
    </footer>
</body>
</html>
